#header
  #logo
    =link_to image_tag("logo.png", height: "40", width: "130"), root_path
  %a#lvl-up.btn(href="")
    =t "admin.path.level_up"
  #path
  %a#reload.btn(href="")
    =raw(t "admin.path.reload")
#content
  #field.ui-layout-center
  #east.ui-layout-east.panel
    #properties-container
  #toolbar.ui-layout-west.panel
