#center.ui-layout-center
  #field.ui-layout-center
  #path-container.ui-layout-north.panel
#east.ui-layout-east
  #tree.ui-layout-center.panel
  #properties-container.ui-layout-south.panel
#toolbar.ui-layout-west.panel
