#header
  #logo
    =link_to image_tag("logo.png", height: "40", width: "130"), root_path(locale: ::I18n.locale)
  %a#lvl-up.btn(href="")
    =raw(t "admin.path.level_up")
  #path
  %a#reload.btn(href="")
    =raw(t "admin.path.reload")
#content
  #field.ui-layout-center
  #properties-container.ui-layout-east.panel
  #toolbar.ui-layout-west.panel
%ul#helpMenu
%script(type="text/javascript")="locale='#{::I18n.locale}';"
