<div class="footer2">
  <ul>
    <li><a href="">Главная</a></li>
    <li><a href="">Магазин</a></li>
    <li><a href="">Мои квесты</a></li>
    <li><a href="">Документация</a></li>
    <li><a href="">Новости</a></li>
  </ul>
</div>
