<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Пицца Шляпа</title>
<link type="text/css" href="/pizza/css/style.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic' rel='stylesheet' type='text/css'>
 <!--[if IE 8]>
      <link rel="stylesheet" href="/pizza/css/ie8.css">
  <![endif]-->
  <!--[if IE 7]>
      <link rel="stylesheet" href="/pizza/css/ie8.css">
  <![endif]-->
</head>
<body>

<div id="container" style="width: 280px; height: 364px;">

    <div>

        <img src="/pizza/images/logo.png" alt="" />
        <img src="/pizza/images/slogan.png" />

      <ul class="choice">
          <li><a href="link"><img src="/pizza/images/pizza-margo.png" alt="" /><span>Маргарита</span><span class="price">450</span></a></li>
            <li><a href="link"><img src="/pizza/images/pizza-margo.png" alt="" /><span>Пепперони</span><span class="price">450</span></a></li>
            <li><a href="link"><img src="/pizza/images/pizza-fila.png" alt="" /><span>Филадельфия</span><span class="price">450</span></a></li>
            <li><a href="link"><img src="/pizza/images/pizza-margo.png" alt="" /><span>Четыре сыра</span><span class="price">450</span></a></li>
            <div class="clear"></div>
        </ul>

        <div class="pages">
          <div>
          <a href="link" class="active"></a><a href="link"></a><a href="link"></a><a href="link"></a><a href="link"></a>
            <div class="clear"></div>
            </div>
        </div>

    </div>

</div>

</body>
</html>
