<% content_for :body_content_title, @item.title %>
<% content_for :body_content_left do %>
  <div class="container">
    <div class="row-fluid">
      <div class="span12 news-details">
          <a href="">&larr; Игры</a>
          <p class="date"><%= l(@item.publish_date, :format => :long) %></p>
          <h1>Заголовок новости</h1>
          <p class="link"><%= @item.source %></p>
          <div class="content">
            <%= @item.body.html_safe %>
          </div>

          <h3>Комментарии</h3>
          <!-- Тут вконтактовские комментарии -->
      </div>
    </div>
  </div>
<% end %>

<%= render :partial => "/refinery/content_page" %>
