    <div class="std-wrap-2">

    <h2>Квесты</h2>

    </div>
    <div>
      <input id="new-game" type="button" class="btn" style="margin-bottom: 20px" value="Создать квест"/>
    </div>
    <div class="row-fluid">
      <% for game in @games %>
        <div class="span4 game-card">
          <img class="game-pic" width="100" height="100" src="/assets/logo-snake.png">
          <div class="game-data">
            <h3><a href=""><%= game.name %></a></h3>
            <p class="category">beta testing</p>
            <div class="stars"></div>
            <%= link_to "Играть", play_show_path(game_id: game.id), class: "btn", target: "_blank" %>
            &nbsp;
            <%= link_to "Изменить", main_app.admin_path(parent_id: game.id, select_id: 0), class: "btn" %>
            <br/>&nbsp;
            <div>
              <%= link_to "Удалить", game_path(id: game.id), method: :delete, confirm: "Вы уверены?" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
