    <div class="std-wrap-2">

    <h2>Игры</h2>

    </div>

    <div class="row-fluid">
      <div class="span4 game-card">
        <img class="game-pic" width="100" height="100" src="/assets/logo-snake.png">
        <div class="game-data">
          <h3><a href="">Название игры</a></h3>
          <p class="category">beta testing</p>
          <div class="stars"></div>
          <a href="" class="btn">Играть</a>
          &nbsp;
          <a href="" class="btn">Изменить</a>
        </div>
      </div>
    </div>
