#field
  background: #FFF
  overflow: scroll !important
  &.kinetic-active
    cursor: move !important
  &.ui-state-disabled
    opacity: 0.7
  #stretcher
    position: absolute
    width: 1px
    height: 1px
    left: 2000px
    top: 1500px
  #refresh
    position: absolute
    right: 0
    top: 0
    padding: 3px
  .block
    padding: 5px 43px 5px 5px
    $shadow: 2px 2px 7px
    white-space: nowrap
    max-width: 170px
    position: absolute
    background: white
    min-width: 50px
    border: 2px solid #94bad1
    font-size: 16px
    background: linear-gradient(to bottom, #deeef8 0%, #c2e0f2 100%)
    background: -webkit-linear-gradient(top, #deeef8 0%, #c2e0f2 100%)
    border-radius: 4px
    box-shadow: $shadow #d9dee2, inset 0 1px 1px white
    cursor: default
    &:hover
      background: linear-gradient(to bottom, #eaf5fb 0%, #b3d8ef 70%, #d1e8f6 100%)
      background: -webkit-linear-gradient(top, #eaf5fb 0%, #b3d8ef 70%, #d1e8f6 100%)
    .icon
      float: left
      width: 20px
      line-height: 20px
      vertical-align: middle
    .caption
    .title
      font-size: x-small
      color: #444
      white-space: normal
      clear: both
    .destroy
      position: absolute
      display: none
      right: 6px
      top: 0px
      font-size: 75%
      color: #058 !important
      &:hover
        color: red !important
    &:hover .destroy
      color: black
      display: block

    $sel-color: #CA0
    &.ui-selecting
      border-color: #89c27f
    &.ui-selected
      border-color: #89c27f
      z-index: 100
    &.ui-draggable-dragging
      opacity: 0.8
      z-index: 100
    &.task:before
      content: ""
      position: absolute
      width: 90%
      background: #deeef8
      height: 2px
      display: block
      left: 4%
      top: -6px
      border: 2px solid #b5d0e1
      border-bottom: none
      border-radius: 4px 4px 0 0
      box-shadow: inset 0 1px 1px white
    &.task:after
      content: ""
      position: absolute
      width: 78%
      background: white
      height: 1px
      display: block
      left: 10%
      top: -9px
      border: 2px solid #cde1ed
      border-bottom: none
      border-radius: 4px 4px 0 0
    &.task.ui-selecting:before,&.task.ui-selected:before
      border-color: #bae5b3
      background: #bae5b3
      box-shadow: none
    &.task.ui-selecting:after,&.task.ui-selected:after
      border-color: #d1f2cb
      background: #d1f2cb
    &.exception
      border-color: red !important
  ._jsPlumb_endpoint
    z-index: 101
    .sourceTitle, .targetTitle
      position: absolute
      font-size: xx-small
      color: #444
      white-space: nowrap
      text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px 1px 1px white
    .sourceTitle
      top: -7px
      left: 10px
    .targetTitle
      top: -7px
      right: 10px
  ._jsPlumb_connector:hover
    z-index: 100
  ._jsPlumb_endpoint.dcf circle
    fill: red !important
