html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  overflow: auto
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  font-family: 'Open Sans','Trebuchet MS',sans-serif
  font-size: 12px

body.designer
  line-height: 22px
  color: #353535

.btn
  display: inline-block
  font-size: 12px
  border: 1px solid #13ABEC
  color: white
  text-decoration: none
  box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.4)
  text-shadow: 0 1px 1px black
  border-radius: 5px
  box-shadow: 0 2px 2px #00567A, 0 -1px 1px rgba(255, 255, 255, 0.4)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#13ABEC), to(#0092CF))
  background-image: -webkit-linear-gradient(top, #13ABEC, #0092CF)
  background-image: -o-linear-gradient(top, #13ABEC, #0092CF)
  background-image: linear-gradient(to bottom, #13ABEC,#0092CF)
  background-image: -moz-linear-gradient(top, #13ABEC, #0092CF)
  background-position: center
  padding: 6px 14px
  cursor: pointer
  &:hover
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#13ABEC), to(#13ABEC))
    background-image: -webkit-linear-gradient(top, #13ABEC, #13ABEC)
    background-image: -o-linear-gradient(top, #13ABEC, #13ABEC)
    background-image: linear-gradient(to bottom, #13ABEC, #13ABEC)
    background-image: -moz-linear-gradient(top, #13ABEC, #13ABEC)
    background-position: center
  &:active
    box-shadow: 0 1px 1px #00567a
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0092cf), to(#13abec))
    background-image: -webkit-linear-gradient(top, #0092cf, #13abec)
    background-image: -o-linear-gradient(top, #0092cf, #13abec)
    background-image: linear-gradient(to bottom, #0092cf,#13abec)
    background-image: -moz-linear-gradient(top, #0092cf, #13abec)
    background-position: center

.ui-layout-resizer
  background: #94bad1 !important
  overflow: visible !important
.ui-layout-pane
  border: none
  padding: 1px

.ui-layout-toggler
  overflow: visible !important
.ui-layout-toggler-west
  border-radius: 0 14px 14px 0/ 0 11px 11px 0
  .triangle-left
    margin-left: 3px
    width: 0
    height: 0
    border-top: 4px solid transparent
    border-right: 4px solid #e2ebf0
    border-bottom: 4px solid transparent
  .triangle-right
    margin-left: 3px
    width: 0
    height: 0
    border-top: 4px solid transparent
    border-left: 4px solid #e2ebf0
    border-bottom: 4px solid transparent

.ui-layout-toggler-east
  left: -7px !important
  border-radius: 14px 0 0 14px/11px 0 0 11px
  .triangle-right
    margin-left: 3px
    width: 0
    height: 0
    border-top: 4px solid transparent
    border-right: 4px solid #e2ebf0
    border-bottom: 4px solid transparent
  .triangle-left
    margin-left: 3px
    width: 0
    height: 0
    border-top: 4px solid transparent
    border-left: 4px solid #e2ebf0
    border-bottom: 4px solid transparent

.ui-layout-toggler
  border: none
  opacity: 1 !important
  background: #94bad1 !important
  width: 12px !important

#content
  position: absolute
  top: 100px
  left: 0
  bottom: 0
  right: 0
.ui-selectable-helper
  border: 1px dotted black
  // position: absolute
  // z-index: 100
.overlay
  background: transparent
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 101
#loading-sign
  opacity: 1
  position: absolute
  top: 50%
  left: 50%
  margin-left: -27px
  margin-top: -27px
  z-index: 1002
.panel
  background: #d2e0e8 !important
.icon
  vertical-align: middle
  display: inline
  padding: 3px
  img
    margin-top: -7px
input:not([type="button"])
  user-select: normal
  -webkit-user-select: normal
  -moz-user-select: text

.ui-datepicker
  z-index: 100 !important
