#properties-container
  overflow: hidden !important
  padding-bottom: 23px
  #properties
    overflow: auto
    height: 100%
    table
      border-collapse: collapse
      padding: 0
      font-family: Lucida Grande,Lucida Sans,Geneva,Arial,Helvetica,sans-serif
      font-size: 80%
      width: 100%
      th, td
        padding: 2px
        border: 1px solid gray
        font-weight: normal
      th
        color: white
        background: #444
      td
        input
          width: 95%
  #save-properties
    position: absolute
    bottom: 0
    width: 100%
    input
      width: 100%
