#toolbar
  overflow-x: hidden
  font-size: 14px
.tool
  cursor: default
  border-radius: 3px
  margin: 4px
  padding: 2px 2px 2px 4px
  overflow: hidden
  white-space: nowrap
  position: relative
  &:hover
    background: #e9f1f5
  &:active
    background: #fff
  .name, .title
    display: inline
  .icon
    padding: 5px 3px 3px 3px
