<div class="footer blue-wrap last-blue-wrap">
  <%= yield :footer %>
</div>
<script type="text/javascript">
    var reformalOptions = {
        project_id: 95496,
        project_host: "idea.interactiff.net",
        tab_orientation: "right",
        tab_indent: "25%",
        tab_bg_color: "#F05A00",
        tab_border_color: "#FFFFFF",
        tab_image_url: "http://tab.reformal.ru/0J7QsdGA0LDRgtC90LDRjyDRgdCy0Y%252FQt9GM/FFFFFF/f0bd2ece5dbcb39f9eaa61a1cd69ff52/right/0/tab.png",
        tab_border_width: 2
    };

    (function() {
        var script = document.createElement('script');
        script.type = 'text/javascript'; script.async = true;
        script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
        document.getElementsByTagName('head')[0].appendChild(script);
    })();
</script><noscript><a href="http://reformal.ru"><img src="http://media.reformal.ru/reformal.png" /></a><a href="http://idea.interactiff.net">Обратная связь</a></noscript>