/*
 *= require_self
 * require_tree .
*/
body {margin:0;padding:0;background:#CFC;font:12pt sans-serif;}
* {margin:0;padding:0;}
#admin_menu {padding:10px;}
#main_block {margin:50px auto; max-width:1000px; background:#FFF; padding:15px; border:solid 1px #999;}
table td, table th {padding:3px;}

