@import url(fonts.css); /*Загружаем локальные шрифты*/

html,body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #222222;
	background-image: url(../yeti_img/back.jpg);
	background-repeat: no-repeat;
	font-family: Calibri, 'Open Sans', sans-serif;
	padding: 2.25% 2.25% 0 2.25%;
	color: #FFF;
	height: 100%;
}

h1{
	color:#d7fff5;
	font-size: 30px;
	font-variant:normal;
	margin: 0px;
	padding: 0px;
	text-align:right;
}

.row-fluid-yeti {
	width:800px;
	margin:auto;
}

.window_yeti {
	border-radius: 20px;
	background-image:url(../yeti_img/menu_bg.png);
	display:block;	
	margin-top: 20px;
	margin-bottom: 35px;
	padding: 0px;
	}

.window_yeti p {
	color:#FFF;
	font-size: 16px;
	margin-top: 10px;
	font-weight:100;
	font-style:normal;
	margin: 0px 25px;
	
}

.window_yeti a {
	position: relative;
	color:#00dadc;
}

.window_yeti ol,ul {
	color:#FFF;
	font-size: 14px;
	margin-top: 0;
	margin-left: 50px;
}

.window_yeti h3,h4,h6 {
	margin: 40px 25px 15px 50px; 
}

.window_yeti h2{
	text-align:center;
	color:#00dadc;
	font-size: 26px;
	font-variant:normal;
	margin: 0px;
	padding: 25px 0 0 0;
}

.window_yeti h3 {
	color:#d7fff5;
	font-size:22px;
}

.window_yeti h4 {
	color:#d7fff5;
}
 
.window_yeti h5 {
	color:#00dadc;
	font-size:18px;
	text-align:center;
	margin-bottom:5px;
}

.window_yeti a {
	text-decoration: none;
}

.window_yeti img {
	text-align:center;
	margin: 5px 25px;
}

a:visited{
	color:inherit;
}

.button.next:after,
.getinfo:after {
	content: "";
	position: absolute;
	right:6.25%;
	top:50%;
	margin-top: -10px;
	width: 11px; height: 21px;
	background-image: url(../yeti_img/rarr.png);
}

.menu {
	list-style: none;
	margin: 0;padding: 0;
	background:url(../yeti_img/menu_bg_l.png) repeat;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	position: relative;
	margin-top: 0px;
}

.menu small {
	display: block;
	font-size: 14px;
	font-weight: 300;
}

.menu:before{
	content: "";
	position: absolute;
	display: block;
	width:100%;
	height: 14px;
	background: url(../yeti_img/line.png) repeat-x;
	top:-5px;
	left:0px;
}


.menu li a {
	display: block;
	padding: 10px 30px;
	color: #d7fff5;
	font-size: 20px;
	font-weight: 500;
}

.menu li a:hover {
	display: block;
	padding: 10px 31px;
	color: #00dadc;
	font-size: 20px;
	font-weight: 500;
}

.menu li:first-child a {
	padding-top: 25px;
}

.menu li:last-child a {
	padding-bottom: 25px;
}

.menu ul {
	margin-top: 0px;
	padding-top: 0px;
}

.logo {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;	
	background: url(../yeti_img/logo_yeti.png) no-repeat;
	height:82px;
	width:200px;
	display: block;
	float:left;
	
}

	
.que {
	padding-left:25px;
	color:#d7fff5;
	font-style:italic;
}